@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:ital,wght@1,100&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
.container{
    border: 1px solid black;
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hex-colors{
    border: 1px solid black;
    text-align: center;
}
.hex-colors h1{
    font-size: 2rem;
    text-transform: uppercase;
    animation: colorChange 5s infinite alternate;
}
.hex-colors h2{
    border: 1px solid black;
    font-size: 2rem;
    margin-top: 15%;
}
@keyframes colorChange{
    0%{
        color: antiquewhite;
    }
    20%{
        color: green;
    }
    40%{
        color: red;
    }
    60%{
        color: gold;
    }
    80%{
        color: pink;
    }
    100%{
        color: indigo;
    }
}